#app{
  margin: 5px 5px 5px 5px;
}

#app input{
   display:block; 
   width: 100%;
}

.song em {
	display:block; 
}

.songlist tr:hover td {
    background-color: rgba(30, 174, 219, 0.15);
}

.songlist tr.selected td {
    background-color: rgba(30, 174, 219, 0.25);
}

h6.songlist {
	margin: 25px 35px 25px 25px;	
}

h6.error{
	color: #DC283F;
}